<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
<body>
	<header th:insert="fragments :: nav"></header>

	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Sección para administrar <small>Productos</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active">Ver Productos</li>
		</ol>

		<a class="btn btn-primary" th:href="@{/producto/nuevo}"> Crear
			Producto</a>
		<h2>Productos</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Foto</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripción</th>
					<th scope="col">Inventario</th>
					<th scope="col">Precio</th>
					<th scope="col">Acción</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${productos}">
					<td><img class="img-thumbnail rounded float-left" style="max-width: 10%;"
						th:src="@{/uploads/{file} (file=${producto.foto})}" th:alt="${producto.foto}" /> </td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.cantidad}"></td>
					<td th:text="${producto.precio}"></td>
					<td><a class="btn btn-warning"
						th:href="@{producto/editar/{id} (id=${producto.id}) }">Editar</a></td>
					<td><a class="btn btn-danger"
						th:href="@{producto/eliminar/{id} (id=${producto.id}) }">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>